---
permalink: /members/
layout: page
title: Members
description: ""
comments: true
modified: 2024-07-08
nav: true
nav_order: 4
---
<style>
    
    .team-container{
        max-width: 930px;
    }
    .team-container img{
        float: right;
        width: 42%;
        padding-left: 20px;
    }
    .description{
        text-align: justify;
    }
    .fas{
        font-size: 15px;
    }

</style>

<div class="team-container">
  {% for member in site.data.members %}
    <img src="{{ site.baseurl}}/{{ member.image }}" alt="{{ member.name }}">
    <div>
        <h4>{{ member.name}}, {{ member.degrees }}</h4>
        {% if member.email %}
        <p><i class="fas fa-envelope"></i> <span>  </span> <a style="font-style: italic;" href="mailto:{{ member.email }}">{{ member.email }}</a></p>
        {% endif %}
        {% if member.website %}
        <p><i class="fas fa-link"></i> <span>  </span> <a href="{{ member.website }}" target="_blank">{{ member.website }}</a></p>
        {% endif %}
        {% if member.scholar %}
        <p><i class="fas fa-school"></i> <span>  </span> <a href="{{ member.scholar }}" target="_blank">{{ member.scholar }}</a></p>
        <p class="description">{{ member.description | markdownify}}</p>
        {% endif %}
    </div>
  {% endfor %}
</div>

