<style>
    .papers{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
        gap: 20px; /* Adjust spacing between items */
        width: 100%;
    }
    .papers div p{
        font-size: smaller;
        color: grey;
        margin-top: 0px;
    }
    @media screen and (max-width: 768px) {
        .papers {
        grid-template-columns: repeat(1, 1fr) !important; /* 1 column */
    }
    }
</style>
<div class="papers">
    {% assign sorted_publications = site.publications | sort: "urldate" | reverse %}
    {% for post in sorted_publications limit: 3 %}
    <div>
        <a href="{{ post.url }}"><i class="fas fa-newspaper"></i><span> </span>{{ post.title }}</a>
        {% if post.author %}
            <p>Author: <span> </span>{{ post.author }}</p>
        {% endif %}
        {% if post.date %}
            <p>Uploaded Date: <span> </span>{{ post.urldate | date: '%B %d, %Y' }}</p>
        {% endif %}
    </div>
    {% endfor %}
</div>
