---
layout: default
---

<style>
@media screen and (max-width: 768px) {
    .image_container {
      display: flex;
      flex-direction: column !important;
      align-items: flex-start;
      color: #949494;
      column-gap: 50px;
  }
.image_container img {
    width: 100% !important;
}
.image_container div{
  margin: 20px auto;
  text-align: center;
}
.post_container{
  flex-direction: column !important;
}
.sidebar{
  border-top: 1px solid;
  padding-top: 20px;
  border-bottom: 1px solid;
  margin-bottom: 25px;
  padding-bottom: 25px;
}
.content-hr{
    display: none;
}
}
@media screen and (min-width: 768px) {
  .image_container{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    color: #949494;
    column-gap: 50px;
  }
  .image_container img{
    width: 280px;
  }
  .sidebar{
    text-align: left;
    flex: 15%;
  }
  .post_container{
    flex-direction: row;
  }
}
.post_container{
  display: flex;
  max-width: 930px;
  margin-top: 25px;
}

  .image_container h2{
    font-size: 30px;
    font-weight: 500;
  }
  .image_container h4{
    font-size: 17px;
    color: #a8a8a8;
  }
  .image_container img{
    width: 200px;
  }
  .post_container{
    display: flex;
    max-width: 930px;
    flex-direction: row;
    margin-top: 25px;
  }
  .sidebar{
    text-align: left;
    flex: 15%;
  }
  .sidebar h3{
    font-size: larger;
  }
  .post-content{
    flex: 60%;
  }
  .added-details{
    color: grey;
    word-break: break-all;
  }
</style>

    <div class="image_container">
      <img src="{{ site.baseurl }}/{{ page.image }}" alt="">
      <div>
        <h2>{{ page.title }}</h2>
        {% if page.author %}
        <h4>{{ page.author }}</h4>
        {% endif %}
        {% if page.ref %}
        <h4>{{ page.ref }}</h4>
        {% endif %}
      </div>
    </div>
    <div class="post_container">
      <div class="sidebar">  
        {% if page.pdf %}
        <h3>PDF</h3>
        <a href="{{ page.pdf | absolute_url }}" target="_blank" rel="noopener noreferrer" download><i class="fas fa-file-pdf"></i><span> Preview</span></a>
        <br>
        <br>
        {% endif %}
        {% if page.github %}
        <h3>Github</h3>
        <a href="https://github.com/{{ page.github }}" target="_blank" rel="noopener no-referrer"><i class="fab fa-github"></i>  {{ page.github }}</a>
        <br>
        <br>
        {% endif %}
        {% if page.doi %}
        <h3>DOI</h3>
        <a href="https://github.com/{{ page.doi }}" target="_blank" rel="noopener no-referrer"><i class="fas fa-external-link-alt"></i>  <span style="font-size: small;">{{ page.doi }}</span></a>
        {% endif %}
      </div>
      <div class="post-content"> 
        <hr class="content-hr">
        <h2>Abstract</h2> 
        {{ content }}
        <hr>
        <h4>Added Details</h4>
        {% if page.volume %}
        <p class="added-details"> 📙 Volume:  <span style="font-size: small;">{{ page.volume }}</span></p>
        {% endif %}
        {% if page.copyright %}
        <p class="added-details"><i class="far fa-copyright"> </i> Copyright:<a href="{{ page.copyright }}" target="_blank" rel="noopener noreferrer">{{ page.copyright }}</a>  <span style="font-size: small;"></span></p>
        {% endif %}
        {% if page.issn %}
        <p class="added-details"><i class="fas fa-list-ol"> </i> ISSN:  <span style="font-size: small;">{{ page.issn }}</span></p>
        {% endif %}
        {% if page.url_paper %}
        <p class="added-details"><i class="fas fa-link"> </i> URL:<a href="{{ page.url_paper }}" target="_blank" rel="noopener noreferrer">{{ page.url_paper }}</a>  <span style="font-size: small;"></span></p>
        {% endif %}
        {% if page.urldate %}
        <p class="added-details"><i class="fas fa-calendar-times"> </i> Uploaded Date:  <span style="font-size: small;">{{ page.urldate |  date: '%B %d, %Y' }}</span></p>
        {% endif %}
        {% if page.journal %}
        <p class="added-details"><i class="fas fa-journal-whills"> </i> Journal:  <span style="font-size: small;">{{ page.journal }}</span></p>
        {% endif %}
        {% if page.pages %}
        <p class="added-details"><i class="fas fa-file"> </i> Pages:  <span style="font-size: small;">{{ page.pages }}</span></p>
        {% endif %}
      </div>
    </div>