---
layout: default
---
<style>
    @media screen and (max-width: 1024px) {
        .publish_container {
        max-width: 930px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 3 columns */
        gap: 20px; /* Adjust spacing between items */
        width: 100%;
    }
    .publishs img {
        width: 150px;
        height: auto;
        border-radius: 0px; /* Optional: Rounded corners */
    }
  }
    @media screen and (max-width: 768px) {
        .publish_container {
        max-width: 930px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat( 1, 1fr); /* 3 columns */
        gap: 20px; /* Adjust spacing between items */
        width: 100%;
    }
    .publishs img {
        width: 220px !important;
        height: auto;
        border-radius: 0px; /* Optional: Rounded corners */
    }
    .publishs div h2{
        font-size: 30px;
        text-decoration: none;
    }
    .publishs div h4{
        font-size: 18px;
        color: #b2b2b2;
    }
}
@media screen and (min-width: 1024px) {
    .publish_container {
        max-width: 930px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
        gap: 20px; /* Adjust spacing between items */
        width: 100%;
    }
}

    .publishs {
        display: flex;
        flex-direction: row;
        align-items: flex-start; /* Center-align content */
        text-align: center;
    }
    .publishs img {
        width: 100px;
        height: auto;
        border-radius: 0px; /* Optional: Rounded corners */
    }
    .publishs div{
        width: 200px;
        text-align: left;
        padding-left: 20px;
    }
    .publishs div h2{
        font-size: 17px;
        text-decoration: none;
    }
    .publishs div h4{
        font-size: 15px;
        color: grey;
    }
</style>

<h1>{{ page.title }}</h1>
<hr>

<div class="publish_container"> 
    {% assign publishs = site.publications  %}
    {% for post in publishs %}
    <div class="publishs">                    
        <a href="{{ post.url }}"><img src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}"> </a>
        <div>
            <a href="{{ post.url | relative_url }}"> <h2>{{ post.title }}</h2></a>
            <p>{{ post.ref }}</p>
        </div>                    
    </div>
    {% endfor %}
</div>


