---
layout: default
---

<style>

    .text-content h1{
        color: blueviolet;    
    }
    .text-content{
        margin-bottom: 150px;
    }
    @media screen and (min-width: 1024px ) {
        .research_container{
        max-width: 930px;
        display: flex;
        flex-direction: row;
        column-gap: 30px;

    }
    .text-content{
        flex: 70%;
        display: flex;
        flex-direction: column;
        margin-bottom: 150px;
    }
    
    .image-content{
        flex: 30%;
    }
    .image-content img{
        width: 300px;
        height: auto;
    }
    }
    @media screen and (max-width: 1024px ) {
     .research_container{
       max-width: 930px;
       display: flex;
       flex-direction: row;
       column-gap: 30px;
    }
    .text-content{
        flex: 70%;
        display: flex;
        flex-direction: column;
        margin-bottom: 120px;
    }
    .image-content{
        flex: 30%;
    }
    .image-content img{
        width: 300px;
        height: auto;
    }
    }
    @media screen and (max-width: 768px ) {
    .research_container{
        max-width: 930px;
        display: flex;
        flex-direction: column;
        gap: 0rem;
        margin-bottom: 50px;
        border-bottom: 1px solid;
        padding-bottom: 60px;
    }
    .text-content{
        max-width: 100%;
        margin-bottom: 0px;
    }
    .image-content img{
        max-width: 100%;    
    }
    }
    </style>

<h1>{{ page.title }}</h1>
    {% for content in site.research %}
    <div class="research_container">
        <div class="text-content">
          <h1>
            <a href="{{ content.url }}">{{ content.title }}</a>
          </h1>
          <p>
            {{ content.content | markdownify }}
          </p>
        </div>
        <div class="image-content">
          <img
            src="{{ site.baseurl }}/{{ content.image }}"
            alt="{{ content.header | downcase | replace: ' ', '_' }}"
          />
        </div>
      </div>
      {% endfor %}
      
    
      