---
layout: default
---

<style>
.research_container{
  max-width: 930px;
}
.content_header{
  width: 100%;
}
.content_header h2 h4{
  text-align: left;
  color: grey;
}
.research_container article{
  width: 90%;
}
</style>

<div class="research_container">
  <div class="content_header">
    <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}">
    <br>
    <h2>{{ post.title }}</h2>
    <h4>Uploaded Date: <span> </span>{{ post.date |  date: '%B %d, %Y' }}</h4>
    <h4>Category: {{ post.category }}</h4>
  </div>
  <article>
    {{ content }}
  </article>
</div>